{% extends "base.html" %}
{% load static i18n %}

{% block content %}
<article class="card mt-4">
  <div class="card-body">
    <h1 class="card-title">{{ job_posting.title }}</h1>
    <a href="{% url 'company_detail' job_posting.company.id %}">
      <h6 class="card-subtitle mb-2 text-muted">
        {{ job_posting.company }}
      </h6>
    </a>

    {% if job_posting.location %}
      <p class="mb-0"><i>
        {% trans "Location" %}:
        {{ job_posting.location }}
      </i></p>

    {% endif %}

    {% if job_posting.salary %}
      <p class="mb-0"><i>
        {% trans "Salary" %}:
        {{ job_posting.salary }}
      </i></p>
    {% endif %}

    <p class="card-text mt-2">{{ job_posting.description | safe }}</p>
    {% for category in job_posting.categories.all %}
    <a
      href="{% url 'category_detail' category.id %}"
      class="card-link"
      ><i>{{ category }}</i></a
    >
    {% endfor %}
  </div>
</article>
{% endblock content %}
