{% load i18n %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Jobby</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="{% url 'company_list' %}"
            >{% trans "Companies" %}</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'job_posting_list' %}"
            >{% trans "Job Postings" %}</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'category_list' %}"
            >{% trans "Categories" %}</a
          >
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          {% get_current_language as LANGUAGE_CODE %}
          {% get_available_languages as LANGUAGES %}
          {% get_language_info_list for LANGUAGES as languages %}

          {% for language in languages %}
            {% if language.code != LANGUAGE_CODE %}
              <form action="{% url 'set_language' %}" method="post" id="form_{{ language.code }}" style="display:inline!important;">
              {% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}" />
                <input name="language" type="hidden" value="{{ language.code }}" />
              </form>
              <button class="dropdown-item" type="submit" form="form_{{ language.code }}" value="Submit">{{ language.name_local|title }}</button>
            {% endif %}
          {% endfor %}
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
